/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header{
	padding-top: 10px;
    min-height: 70px;
	/* border-top: #0753f57e 8px solid; */
	font: 15px/1.5 Arial, Helvetica,sans-serif;
}

/* header .container {
	border-bottom: #0753f57e 2px solid;
	padding-bottom: 10px;
} */

header nav a{
    color: #f4f4f4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header #branding a {
    text-decoration: none;
    color: #07090a;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    /* float: left; */
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
    width: 80%;
}

header #branding h1, h2{
    margin: 0;
}

header #logo{
    float: right;
    width: 10%;
}

header #logo img{
    width: 60px;
}

header nav{
    background: #01598c;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 30px;
    padding-top: 5px;
}

header a:hover, #branding a:hover{
    text-decoration: underline;
    font-weight: bold;
}

/* End of header */

.title
{
	position: relative;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 32px;
	font-weight: bold;
	color: black;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 5px;
	font-style: italic;
}

.subText
{
	position: relative;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: normal;
	color: black;
	padding-bottom: 10px;
}

.subText1
{
	position: relative;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: black;
	padding-bottom: 2px;
}

#page-wrap ul {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#page-wrap li a:hover {
	background-color: #4885ed;
}

#page-wrap img {
	float: left;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 10px;
	/* margin-left: 20px; */
	padding: 0px;
}

.paragraph{
	padding: 10px 10px 10px 20px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#page-wrap
{
     /* width: 800px; */
     width: 80%;
     /* margin: 0 auto; */
	 margin: auto;
	 overflow: hidden;
 }

 #vertical-page-wrap
{
	/* width: 400px; */
	width: 50%;
	margin: 0 auto;
	float: left;
 }

.topicTitle
{
	text-align: left;
	/* padding: 5px 0px 0px 25px; */
	color: #4885ed;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 22px;
	font-weight: normal;
	padding-top: 10px;
}

.img2
{
	float: right;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.topic2Title
{
	text-align: center;
	padding: 20px 0px 0px 25px;
	color: #4885ed;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
}

#page-wrap li {
	padding-bottom: 5px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.padding
{
	padding-left: 15px;
}

.aboutHeading
{
	font-weight: bold;
	font-size: 18px;
}

strong
{
	font-weight: bold;
	text-decoration: underline;
}

/* Footer */
footer{
    padding: .5px;
    margin: auto;
    /* background-color:  #0753f57e; */
    color: #ffffff;
    text-align: center;
    background: #01598c;
    width: 80%;
    /* position:fixed;
    bottom:0;
	left:10%; */
	font: 15px/1.5 Arial, Helvetica,sans-serif;
}

footer p{
    padding: 0.5px;
    margin: 0;
}